@page {
  size: 1920px 1080px; /* A4 크기: 210mm x 297mm */
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "YAEv6srNZ4U 0", _fb_, auto;
  color: #333;
  box-sizing: border-box;
}

.page {
  width: 1920px;
  height: 1080px;
  margin: auto;
  page-break-after: always;
  background-color: rgb(249, 247, 240);
  border-top: 5px solid #333;
  border-bottom: 5px solid black;
}

div.background {
}

.main {
  position: absolute;
  /* transform: translate(457.66px, 448.18px); */
  transform: translateY(448.18px);
  width: 100%;
  text-align: center;
  color: rgb(101, 127, 191);
  list-style-type: none;
  margin: auto;
}
span.title_text {
  font-family: "YAEv6srNZ4U 0", _fb_, auto;
  font-size: 120px;
  font-style: normal;
  /* margin: auto; */
  font-weight: 400;
  line-height: 146px;
  letter-spacing: 0.042em;
  display: inline;
  z-index: 200;
}

div.main_screen {
  padding: 16px 24px;
}
div.pic1 {
  width: 163px;
  height: 166px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  transform: translate(479.727px, 61.9538px);
}
div.pic2 {
  width: 180.289px;
  height: 159.638px;
  margin: auto;
  position: absolute;
  overflow: hidden;
  transform: translate(363.767px, 591.78px);
}
div.pic3 {
  width: 187.192px;
  height: 140.905px;
  margin: auto;
  position: absolute;
  overflow: hidden;
  transform: translate(842.874px, 751.417px);
}
div.pic4 {
  width: 155.714px;
  height: 173.015px;
  position: absolute;
  overflow: hidden;
  transform: translate(1384.48px, 543px);
}
div.pic5 {
  width: 157.16px;
  height: 145.159px;
  position: absolute;
  overflow: hidden;
  transform: translate(936.47px, 171.049px);
}
div.pic6 {
  width: 167.35px;
  height: 108.017px;
  position: absolute;
  overflow: hidden;
  transform: translate(1246.76px, -46.0629px);
}
div.second_pic1 {
  position: absolute;
  transform: translate(53.1106px, -79.8189px);
  overflow: hidden;
}
div.second_pic2 {
  position: absolute;
  transform: translate(471.546px, 230.369px);
  overflow: hidden;
}
div.second_pic3 {
  position: absolute;
  transform: translate(1320.43px, -47.8191px);
  overflow: hidden;
}
div.second_pic4 {
  position: absolute;
  transform: translate(272.015px, 953.329px);
  overflow: hidden;
}
div.second_pic5 {
  position: absolute;
  transform: translate(835.935px, 812.937px);
  overflow: hidden;
}
div.second_pic6 {
  position: absolute;
  transform: translate(-50.5949px, 679.062px);
  overflow: hidden;
}
/* 목차 */
article {
  overflow: hidden;
  width: 100%;
  transform: translateY(383.608px);
}
section.second {
  display: flex;
  top: 0;
  float: left;
  width: 50%;
  height: 100%;
  justify-content: space-between;
}
section.second > p {
  font-size: 80px;
  width: 100%;
  align-items: center;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.second_tr {
  line-height: 48px;
  border-top: 2px solid #fad393;
}

.second_tr > td {
  padding: 10px;
  font-size: 40px;
  text-align: left;
}
.third {
  position: relative;
  display: flex;
  color: rgb(101, 127, 191);
}
.pic3_3 {
  width: 181.059px;
  height: 116.865px;
}
.third_title {
  font-size: 100px;
  width: 938.978px;
  height: 108.187px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  transform: translate(86.0874px, 144.807px);
}
.pic3_2 {
  position: absolute;
  transform: translate(86.0874px, 47.0364px);
}
.pic3_1 {
  position: absolute;
  transform: translate(384.861px, 898.83px);
}
.third_bar {
  background-color: rgb(250, 211, 147);
  width: 158px;
  height: 18px;
  transform: translate(247.993px, 252.993px);
}
.third_right {
  position: absolute;
  transform: translateX(1120px);
  width: 810px;
  height: 1080px;
}
.third_container {
  font-size: 10px;
  transform: translate(120.167px, 310.716px);
  width: 850.913px;
  height: 580.806px;
  text-align: left;
}
.third_space {
  position: absolute;
  transform: translate(88.167px, 310.716px);
  background-color: white;
  width: 870.913px;
  height: 600.806px;
}
.third_tr > td {
  font-size: 22px;
}
#menu {
  text-decoration: underline;
  width: 100px;
}
.four_text {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 876.031px;
  height: 108.187px;
  transform: translate(521.985px, 108px);
  font-size: 68px;
  text-align: center;
}
.four_bar {
  width: 426.237px;
  height: 18.1238px;
  transform: translate(750px, 90px);
  background-color: rgb(250, 211, 147);
}
.four_section {
  position: absolute;
  transform: translate(81.9105px, 302.291px);
  display: flex;
  justify-content: center;
}
.four_section > div {
  width: 580px;
  height: 542px;
  background-color: white;
  border-bottom: 2px solid red;
}
.four_space {
  text-align: center;
  align-items: center;
}
#four_id{
font-size: 20px;
}
#four_context {
  font-size: 33px;
}
#four_img {
  width: 259px;
  height: 195px;
}